#installer
/build-tools
/c4c-integration
/hybris-sbg
/licenses
/installer
/README
/SIGNATURE.SMF

# configuration
/hybris/config/backup/
/hybris/config/certs/gen/
/hybris/config/local.properties
/hybris/config/solr/instances/default/
/hybris/config/solr/instances/fox/hsperfdata_*

# hybris
/hybris/data/
/hybris/licenses/
/hybris/log/
/hybris/out
/hybris/temp/

/hybris/bin/**/*testclasses.xml
/hybris/bin/**/build.xml
/hybris/bin/**/classes/
/hybris/bin/**/eclipsebin/
/hybris/bin/**/gensrc/
/hybris/bin/**/hmc/bin/
/hybris/bin/**/hmc/classes/
/hybris/bin/**/web/webroot/*cockpit/
/hybris/bin/**/web/webroot/WEB-INF/classes/
/hybris/bin/modules/
/hybris/bin/platform/

*.class
Generated*
beans.xsd
build.xml
extensioninfo.xsd
hmc.xsd
items.xsd
platformhome.properties
velocity.log

# IntelliJ
/hybris/.idea/workspace.xml
/hybris/.idea/tasks.xml
/hybris/.idea/dictionaries/*.xml


# bad files
*-skip
*.bak
*BACKUP
*orig
*~
.DS_Store
/hybris/bin/dummy.txt
DEADJOE

/hybris/.idea/copyright
